<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>

  <body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
    <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div class="form-container">
      <form action="/url" method="POST">
        <label for="originalUrl">Enter original URL:</label>
        <input
          type="url"
          id="originalUrl"
          name="url"
          placeholder="https://example.com"
          required
        />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if(locals.urls){ %>
      <table cellpadding="4" cellspacing="5">
        <thead>
          <th>S. No</th>
          <th>Short URL</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><h5>localhost:8001/url/<%= url.shortId %></h5></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
